<div id="kioo__nav--site" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="pull-left" src="resources/images/svg/folder.svg" width="24px" height="24px" alt="Responsive image"> &nbsp; <span>Kioo Documentation</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="https://github.com/ckirkendall/kioo/issues?state=open">Contact</a></li>
      </ul>
    </div>
  </div>
</div>