@import "bootstrap";

body {
	padding: 80px 0;
}

#kioo__greeting {
	margin-bottom: 1em;

	.media {
		margin-top: 0;
		padding-top: 8px;
	}
}

.kioo__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: hidden;
    display: none;
}

.single__content {
    max-width: 1100px;
    padding: 10px 40px 0px 40px;
    margin: 50px auto 0 auto;
    height: 100%;
    overflow: scroll;
}

